<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="/css/grid.css"> --}}
    <link rel="stylesheet" href="/css/chiTietSP.css">
    <link rel="stylesheet" href="/css/chiTietSp2.css">
    <title>Document</title>
</head>

<body>
    <div class="grid wide">
        <div class="product-path">
            <span>Sách tiếng việt <i class="fa-solid fa-angle-right"></i> Truyện tranh <i
                    class="fa-solid fa-angle-right"></i> Truyện tranh thiếu nhi</span>
        </div>
        <div class=" product_detail">
            <div class="product">
                <div class="product_img" style="background-image: url({{books.image}});">
                </div>
                <div class="product_intro">
                    <div class="product_title">
                        <h2>{{books.name}}</h2>
                    </div>
                    <div class="product_detail_infor">
                        <div class="product_infor_1">
                            <div class="product_supplier">
                                <span>Nhà cung cấp :</span>
                                <a href="" style="font-weight: 700;">{{books.nhacungcap}}</a>
                            </div>
                            <div class="product_author">
                                <span>Tác giả:</span>
                                <span style="font-weight: 700;">{{books.tacgia}}</span>
                            </div>
                        </div>
                        <div class="product_infor_2">
                            <div class="product_trademark">
                                <span>Nhà xuất bản:</span>
                                <span style="font-weight: 700;">{{books.nhaXB}}</span>
                            </div>
                            <div class="product_form">
                                <span>Hình thức bìa:</span>
                                <span style="font-weight: 700;">{{books.loaibia}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="product_rating">
                        <i class=" fas fa-star star"></i>
                        <i class=" fas fa-star star"></i>
                        <i class=" fas fa-star star"></i>
                        <i class=" fas fa-star star"></i>
                        <i class=" fas fa-star star"></i>
                        <span style="color:orange;">(0) Đánh giá</span>

                    </div>
                    <div class="product_cost">
                        <div class="cost_current">
                            <span>{{books.giaban}} đ</span>
                        </div>
                        <div class="cost_old">
                            <span>39.000 đ</span>
                        </div>
                        <div class="product_sale">
                            <span>-20%</span>
                        </div>
                    </div>
                    <div class="product_delivery">
                        <div class="delivery_time">
                            <span>Thời gian giao hàng</span>
                            <span>Giao hàng đến </span>
                            <a href="#">Thay đổi</a>
                        </div>
                        <div class="delivery_change">
                            <span>Chính sách đổi trả</span>
                            <span>Đổi trả trong vòng 30 ngày </span>
                            <a href="#">Xem thêm</a>
                        </div>
                    </div>
                    <div class="product_quantity">
                        <div class="quan_title">
                            <span>Số lượng :</span>
                        </div>
                        <div class="add_quantity">
                            <i class="fa-solid fa-minus" onclick="sub()"></i>
                            <span class="soluong">1</span>
                            <i class="fa-solid fa-plus" onclick="plus()"></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="product_shopping">
                <form action="/cart/addcart" method="POST">
                    <a href="" style="text-decoration: none;">
                        <div class="product_card ">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <input type="text" value="{{books.name}}" name="name" hidden>
                            <input type="text" value="{{books.image}}" name="image" hidden>
                            <input type="text" value="{{books.giaban}}" name="giaBan" hidden>
                            <input type="text" value="" name="soLuong" id="postSL" hidden>

                            <button type="submit"
                                style="border: none; text-decoration: none; background-color: #ffff; all: unset;"
                                onclick="addcart()">
                                Thêm vào giỏ hàng
                            </button>
                            {{!--<span>Thêm vào giỏ hàng</span> --}}
                        </div>
                    </a>
                </form>
                <div class="product_buy">
                    <span><a href="/cart/pay" style="all: unset; cursor: pointer;">Mua ngay</a></span>
                </div>
            </div>
        </div>
        <div class="product_option_sale">
            <div class="product_option_sale_title">
                <div class="sale_icon">
                    <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_coupon_red.svg?q=102092"
                        alt="">
                </div>
                <div class="sale_tiltle">Ưu đãi liên quan</div>
            </div>
            <div class="product_options">
                <div class="option_list">
                    <div class="tab_option active_sale">Tất cả</div>
                    <div class="tab_option">Mã giảm giá </div>
                    <div class="tab_option">Ưu đãi khác</div>
                </div>
                <div class="option_rule">
                    Có thể áp dụng nhiều mã
                    <i class="fa-solid fa-exclamation"></i>
                </div>
            </div>
            <div class="tab_options">
                <div class="option_detail active_sale">
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#FFB323" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_promotion.svg?q=102092">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">MÃ GIẢM GIÁ 50K - ĐƠN HÀNG TỪ 400K</div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">
                                ÁP DỤNG TỪ THỨ 2 ĐẾN THỨ 4 HẰNG TUẦN </div>
                        </div>
                    </div>
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#FFB323" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_promotion.svg?q=102092">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">MÃ GIẢM GIÁ 50K - ĐƠN HÀNG TỪ 400K</div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">
                                ÁP DỤNG TỪ THỨ 2 ĐẾN THỨ 4 HẰNG TUẦN </div>
                        </div>
                    </div>
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#6B4EFF" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_gift.svg?q=102097">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">Tặng Bookmark Xinh Xắn Cho Đơn Hàng Từ 0Đ Trở Lên </div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">

                                PNJ: Tặng Bookmark Kèm Mã Ưu Đãi Cho Khách Hàng Với Hóa Đơn 0Đ Trở Lên </div>
                        </div>
                    </div>
                    <div class="option_more">
                        <div class="more_icon"> <i class="fa-solid fa-angle-right"></i></div>
                        <span>Xem thêm</span>
                    </div>
                </div>
                <div class="option_detail ">
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#FFB323" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_promotion.svg?q=102092">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">MÃ GIẢM GIÁ 50K - ĐƠN HÀNG TỪ 400K</div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">
                                ÁP DỤNG TỪ THỨ 2 ĐẾN THỨ 4 HẰNG TUẦN </div>
                        </div>
                    </div>
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#FFB323" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_promotion.svg?q=102092">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">MÃ GIẢM GIÁ 50K - ĐƠN HÀNG TỪ 400K</div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">
                                ÁP DỤNG TỪ THỨ 2 ĐẾN THỨ 4 HẰNG TUẦN </div>
                        </div>
                    </div>
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#FFB323" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_promotion.svg?q=102092">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">MÃ GIẢM GIÁ 50K - ĐƠN HÀNG TỪ 400K</div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">
                                ÁP DỤNG TỪ THỨ 2 ĐẾN THỨ 4 HẰNG TUẦN </div>
                        </div>
                    </div>
                    <div class="option_more">
                        <div class="more_icon"> <i class="fa-solid fa-angle-right"></i></div>
                        <span>Xem thêm</span>
                    </div>
                </div>
                <div class="option_detail ">
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#6B4EFF" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_gift.svg?q=102097">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">Tặng Bookmark Xinh Xắn Cho Đơn Hàng Từ 0Đ Trở Lên </div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">

                                PNJ: Tặng Bookmark Kèm Mã Ưu Đãi Cho Khách Hàng Với Hóa Đơn 0Đ Trở Lên </div>
                        </div>
                    </div>
                    <div class="option_content">
                        <div class="content_left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="104.554" height="125.395"
                                viewBox="0 0 104.554 125.395" class="cart2-svg-icon">
                                <path id="Frame_icon_web"
                                    d="M95.424,124.4H47.593l-33.592,0a12,12,0,0,1-12-12V12A12,12,0,0,1,14,0H80.785l.255,0H95.424a10.364,10.364,0,0,0,10.129,10.165l-.005,4.374a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.814v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.911v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9V55.22a2.907,2.907,0,1,0,0,5.813v2.324a2.907,2.907,0,1,0,0,5.813V71.5a2.907,2.907,0,0,0-2.06.852,2.874,2.874,0,0,0-.855,2.05,2.917,2.917,0,0,0,2.915,2.912v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.912,2.912,0,0,0,2.915,2.9v2.324a2.907,2.907,0,1,0,0,5.814V95.9a2.907,2.907,0,1,0,0,5.814v2.324a2.906,2.906,0,0,0-2.06.852,2.876,2.876,0,0,0-.855,2.051,2.916,2.916,0,0,0,2.915,2.911l0,3.987A10.328,10.328,0,0,0,95.423,124.2c0,.065,0,.131,0,.2h0Z"
                                    transform="translate(-1.501 0.499)" fill="#6B4EFF" stroke="rgba(0,0,0,0)"
                                    stroke-miterlimit="10" stroke-width="1"></path>
                            </svg>
                            <img class="cart_icon"
                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/event_cart_2/ico_gift.svg?q=102097">
                        </div>
                        <div class="detail_content_right">
                            <div class="right_header">
                                <div class="header_text">Tặng Bookmark Xinh Xắn Cho Đơn Hàng Từ 0Đ Trở Lên </div>
                                <div class="header_detail">Chi tiết</div>
                            </div>
                            <div class="right_content">

                                PNJ: Tặng Bookmark Kèm Mã Ưu Đãi Cho Khách Hàng Với Hóa Đơn 0Đ Trở Lên </div>
                        </div>
                    </div>

                    <div class="option_more">
                        <div class="more_icon"> <i class="fa-solid fa-angle-right"></i></div>
                        <span>Xem thêm</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <h1>đánh giá</h1>
            <label for="comment_titlle">tài khoản</label>
            <br>
            <input class="comment_id" name="comment" type="text" placeholder="nhập bình luận..." value="">
            <button type="submit" onclick="addComment()">gửi</button>
            <button type="submit">xóa</button>
            <br>
            <span>like</span>
            <span>trả lời</span>

            <ul class="list_comment" style="list-style: none;">
                <li class="comment_value"></li>
            </ul>
        </div>

    </div>

</body>
<script>
    var comment_id = document.querySelector('.comment_id');
    var list_comment = document.querySelector('.list_comment li');
    function addComment() {
        list_comment.innerHTML = comment_id.value;
    }

    var giaban = document.querySelector('.cost_current span');
    giaban.innerHTML = (new Intl.NumberFormat('vi', { style: 'currency', currency: 'VND' }).format(parseFloat(giaban.innerHTML)));

    var soluong = document.querySelector('.soluong');
    function plus() {
        soluong.innerHTML = parseInt(soluong.innerHTML) + 1;
    }
    function sub() {
        if (parseInt(soluong.innerHTML) > 0)
            soluong.innerHTML = parseInt(soluong.innerHTML) - 1;
        else
            soluong.innerHTML = 0;
    }

    var postSL = document.querySelector('#postSL');
    function addcart() {
        postSL.value = parseInt(soluong.innerHTML);
    }
</script>

</html>