<h1>Danh sách tài khoản người dùng</h1>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">Address</th>
            <th scope="col">Authorization</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each user}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.password}}</td>
            <td>{{this.address}}</td>
            <td class="user_role">{{this.role}}</td>
            <td>
                <a href="/book/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                <a href="/book/{{this._id}}/edit" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                    data-target="#delete_book">Xóa</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="delete_book" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa user này?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="btn-delete-book" type="button" class="btn btn-primary">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>
<!--delete form hidden-->
<form name="delete-book-form" method="POST"></form>
<script>

    var users_role = document.querySelectorAll('.user_role');
    users_role.forEach(function (item, index) {
        if (parseInt(item.innerHTML) == 0)
            item.innerHTML = "Admin";
        else
            item.innerHTML = "User";
    })
    var userId;
    var deleteForm = document.forms['delete-book-form'];
    document.addEventListener('DOMContentLoaded', function () {
        $('#delete_book').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            userId = button.data('id');

        })

    })

    var btnDeleteBook = document.getElementById('btn-delete-book');
    btnDeleteBook.onclick = function () {
        deleteForm.action = "/me/user/" + userId + "?_method=DELETE";
        deleteForm.submit();
    }


</script>